.f {
   display: flex !important;
}
.j-c-c {
   justify-content: center !important;
}
.j-c-a {
   justify-content: space-around !important;
}
.j-c-b {
   justify-content: space-between !important;
}
.a-i-c {
   align-items: center !important;
}

.f-d-r {
   flex-direction: row !important;
}

.f-d-c {
   flex-direction: column !important;
}

.w-100 {
   width: 100vw !important;
}
.w-90 {
   width: 90vw !important;
}
.w-80 {
   width: 80vw !important;
}
.w-75 {
   width: 75vw !important;
}
.w-70 {
   width: 70vw !important;
}
.w-60 {
   width: 60vw !important;
}
.w-50 {
   width: 50vw !important;
}
.w-40 {
   width: 40vw !important;
}
.w-30 {
   width: 30vw !important;
}
.w-25 {
   width: 25vw !important;
}
.w-20 {
   width: 20vw !important;
}
.w-10 {
   width: 10vw !important;
}
